# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nubia.device.rc
# For all nubia projects defined in device/zte

on boot
    # nubia multicolor led
    chown system system /sys/class/leds/aw22xxx_led/reg
    chown system system /sys/class/leds/aw22xxx_led/hwen
    chown system system /sys/class/leds/aw22xxx_led/fw
    chown system system /sys/class/leds/aw22xxx_led/cfg
    chown system system /sys/class/leds/aw22xxx_led/effect
    chown system system /sys/class/leds/aw22xxx_led/imax
    chown system system /sys/class/leds/aw22xxx_led/rgb
    chown system system /sys/class/leds/aw22xxx_led/task0
    chown system system /sys/class/leds/aw22xxx_led/task1
    chown system system /sys/class/leds/aw22xxx_led/brightness
    chown system system /sys/class/leds/aw22xxx_led/max_brightness

    # for goodix fp
    chown system system /dev/goodix_fp
    chmod 0777 /dev/goodix_fp

    # for silead fp
    chown system system /dev/silead_fp
    chmod 0660 /dev/silead_fp
    chown system system /dev/spidev1.0
    chmod 0660 /dev/spidev1.0
    chown system system /dev/spidev0.0
    chmod 0660 /dev/spidev0.0

on boot && property:persist.vendor.leds_bootmode=1
    write /sys/class/leds/aw22xxx_led/effect   "37"

on boot && property:persist.vendor.leds_bootmode=0
    write /sys/class/leds/aw22xxx_led/effect   "0"

on post-fs-data
    # fingerprint
    mkdir /data/vendor/goodix 0777 system system
    mkdir /data/vendor/silead 0777 system system

    # tp & lcd node
    mkdir /data/vendor/tp 0775 system system
    mkdir /data/vendor/tp/debug 0775 system system
    rm /data/vendor/tp/ic_ver
    rm /data/vendor/tp/reset
    rm /data/vendor/tp/ic_detect
    rm /data/vendor/tp/start_update
    rm /data/vendor/tp/easy_wakeup_gesture
    rm /data/vendor/tp/easy_sleep_palm
    rm /data/vendor/tp/read_rt2
    rm /data/vendor/tp/read_rt3
    rm /data/vendor/tp/debug/read_rt2
    rm /data/vendor/tp/debug/read_rt3
    rm /data/vendor/tp/start_user_update

    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/ic_ver
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/ic_ver /data/vendor/tp/ic_ver
    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/ic_reset
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/reset /data/vendor/tp/reset
    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/ic_detect
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/ic_detect /data/vendor/tp/ic_detect
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/start_update /data/vendor/tp/start_update
    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/wake_gesture
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/wake_gesture /data/vendor/tp/easy_wakeup_gesture
    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/palm_sleep
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/palm_sleep /data/vendor/tp/easy_sleep_palm
    write /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/start_update 1
    chown system system /sys/kernel/lcd_enhance/colortmp
    chown system system /sys/kernel/lcd_enhance/saturation
    chown system system /sys/kernel/lcd_enhance/cabc
    chown system system /sys/kernel/lcd_enhance/lcd_power_on
    chown system system /sys/kernel/lcd_enhance/lcd_power_off
    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/f54/read_rt2
    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/f54/read_rt3
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/f54/read_rt2 /data/vendor/tp/read_rt2
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/f54/read_rt2 /data/vendor/tp/debug/read_rt2
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/f54/read_rt3 /data/vendor/tp/read_rt3
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/f54/read_rt3 /data/vendor/tp/debug/read_rt3
    chown system system /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/start_user_update
    symlink /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/start_user_update /data/vendor/tp/start_user_update

on property:sys.tp.wakeup=*
    write /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/wake_gesture ${sys.tp.wakeup}

on property:sys.tp.palmsleep=*
    write /sys/devices/platform/soc/a98000.i2c/i2c-3/3-004b/input/input2/palm_sleep ${sys.tp.palmsleep}
