on boot	
    chown system system /sys/class/leds/tfa9xxx/activate
    chown system system /sys/class/leds/tfa9xxx/brightness
    chown system system /sys/class/leds/tfa9xxx/duration
    chown system system /sys/class/leds/tfa9xxx/state
    chown system system /sys/class/leds/tfa9xxx/trigger
    chown system system /sys/class/leds/tfa9xxx/haptic_mode
    chown system system /sys/class/leds/tfa9xxx/value

service vendor.vibrator-1-0 /vendor/bin/hw/android.hardware.vibrator@1.0-service.nubia_nx619j
    class hal
    user system
    group system
